@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 1rem; */
}

button {
  border-color:darkslategrey;
  border-radius: 10%;
  border-width: 2px;

  padding: 3px;
}

.link {
  color: blue
}